{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="text-center mt-5">

    <h1>Welcome to the Exercise App</h1>

    <p class="mt-3">
        This website is a practice project to learn Django and basic web development using Python.
    </p>

    <div class="mt-4">
        <a href="{% url 'intro' %}" class="btn btn-primary me-2">
            My Introduction
        </a>

        <a href="{% url 'exercise_lists' %}" class="btn btn-outline-primary">
            Exercise List
        </a>
    </div>

</div>

{% endblock %}
