{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="text-center mt-5">

    <h1>Welcome to the Exercise App</h1>

    <p class="mt-3">
        This website is a practice project to learn Django and basic web development using Python.
    </p>

   <div class="text-center">
    <h2 class="fw-semibold mb-4">Basic Exercises</h2>

    <div class="d-flex flex-wrap justify-content-center gap-3">
        <a class="btn btn-secondary" href="{% url 'exercise_details' 'Biceps Curl' %}">Biceps Curl</a>
        <a class="btn btn-secondary" href="{% url 'exercise_details' 'Triceps Extension' %}">Triceps Extension</a>
        <a class="btn btn-secondary" href="{% url 'exercise_details' 'Leg Extensions' %}">Leg Extensions</a>
        <a class="btn btn-secondary" href="{% url 'exercise_details' 'Side Lateral Raises' %}">Side Lateral Raises</a>

    </div>

</div>


</div>

{% endblock %}
