<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
</head>
<style>
    body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }
    h1, h2, p {
            text-align: center;
        }

        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 10px auto;
            border: 2px solid #ccc;
        }
</style>
<body>
    <h1>Welcome to the Exercise App</h1>
    <h2><a href="{% url 'intro' %}">My Introduction</a></h2>
    <h2><a href="{% url 'exercise_list' %}">Lists of Exercises</a></h2>

    <h3>
        <img src="" alt="">
    </h3>
</body>
</html>