<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        h1{text-align: center;}
        h2{text-align: center;}
    </style>

    <title>Introduction</title>
    <h1>About Myself</h1>

</head>
<body>
<div>
    <h2>
        I am currently a York University Student
        <p>I am studying Information Technology. I am on my 3rd year for my semester, and I am doing this project to practice and learn about Django Web Application.</p>
    </h2>
</div>
</body>
</html>


